<!-- <div -->
<!--   class="wheel" -->
<!--   [style.animation-name]="'go'" -->
<!--   [style.animation-iteration-count]="'infinite'" -->
<!--   [style.animation-timing-function]="'linear'" -->
<!--   [style.animation-duration]="animation" -->
<!-- > -->
<!--   <div class="name"></div> -->
<!-- </div> -->
<!---->
<!-- <br /> -->
<!---->
<br />
<div class="container">
  <app-speedmeter [speed]="engine / 7" />
  <app-speedmeter [speed]="speed" />
</div>

<button mat-raised-button (click)="startEngine()" *ngIf="!started">
  {{ status }}
</button>
<button mat-raised-button color="warn" (click)="stopEngine()" *ngIf="started">
  Stop engine
</button>

<br />

<mat-slider style="width: 650px" min="0" max="1" step="0.01" showTickMarks>
  <input matSliderThumb [(ngModel)]="clutch" />
</mat-slider>

<mat-slider style="width: 650px" min="0" max="1" step="0.01" showTickMarks>
  <input matSliderThumb [(ngModel)]="break" />
</mat-slider>

<mat-slider style="width: 650px" min="0" max="1" step="0.01" showTickMarks>
  <input matSliderThumb [(ngModel)]="gas" />
</mat-slider>

<mat-slider style="width: 650px" min="0" max="5" step="1" showTickMarks>
  <input matSliderThumb [(ngModel)]="gear" />
</mat-slider>

<!-- <div>{{ gas }}</div> -->
<!-- <div>{{ engine }}</div> -->
<!-- <div>{{ transmission }}</div> -->
<!-- <div>{{ speed }}</div> -->
